<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="53" android:versionName="0.0.3" package="com.xamarin.xweather">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="XWeather" android:allowBackup="true" android:icon="@mipmap/icon" android:theme="@style/WeatherTheme"></application>
</manifest>
