<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile" version="0.8.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.8.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.8.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Azure.Mobile.Distribute" version="0.8.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid70" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid70" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid70" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="monoandroid71" />
  <package id="Plugin.VersionTracking" version="1.0.1" targetFramework="monoandroid70" />
  <package id="ServiceStack.Client" version="4.5.8" targetFramework="monoandroid71" />
  <package id="ServiceStack.HttpClient" version="4.5.8" targetFramework="monoandroid71" />
  <package id="ServiceStack.Interfaces" version="4.5.8" targetFramework="monoandroid71" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Location" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Maps" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1001.0" targetFramework="monoandroid71" />
</packages>