<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile" version="0.8.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.8.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.8.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Distribute" version="0.8.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="xamarinios10" />
  <package id="Plugin.VersionTracking" version="1.0.1" targetFramework="xamarinios10" />
  <package id="ServiceStack.Client" version="4.5.8" targetFramework="xamarinios10" />
  <package id="ServiceStack.HttpClient" version="4.5.8" targetFramework="xamarinios10" />
  <package id="ServiceStack.Interfaces" version="4.5.8" targetFramework="xamarinios10" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>