<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>0.0.5 (23)</string>
			<key>Key</key>
			<string>VersionNumber</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>93caa3e</string>
			<key>Key</key>
			<string>GitCommitHash</string>
			<key>Title</key>
			<string>Git Hash</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Copyright © 2016 Colby Williams</string>
			<key>Title</key>
			<string>Diagnostics Key</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>DEBUG</string>
			<key>Key</key>
			<string>UserReferenceKey</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
