<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>0.8.5 (217)</string>
			<key>Key</key>
			<string>VersionNumber</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Units of Measurement</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>UomTemperature</string>
			<key>Title</key>
			<string>Temperature</string>
			<key>Titles</key>
			<array>
				<string>Fahrenheit</string>
				<string>Celsius</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>UomDistance</string>
			<key>Title</key>
			<string>Distance</string>
			<key>Titles</key>
			<array>
				<string>Miles</string>
				<string>Kilometers</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>UomPressure</string>
			<key>Title</key>
			<string>Pressure</string>
			<key>Titles</key>
			<array>
				<string>Inches of Mercury</string>
				<string>Millibars</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>UomLength</string>
			<key>Title</key>
			<string>Length</string>
			<key>Titles</key>
			<array>
				<string>Inches</string>
				<string>Millimeters</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>UomSpeed</string>
			<key>Title</key>
			<string>Speed</string>
			<key>Titles</key>
			<array>
				<string>Miles per hour</string>
				<string>Kilometers per hour</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Background colors represent each location’s time of day. Enable this option to use random pretty colors instead.</string>
			<key>Title</key>
			<string>User Interface</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>RandomBackgrounds</string>
			<key>Title</key>
			<string>Random Backgrounds</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Copyright © 2017 Colby Williams</string>
			<key>Title</key>
			<string>Diagnostics Key</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>anonymous</string>
			<key>Key</key>
			<string>UserReferenceKey</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
